################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.pdb
*.cache
*.suo
*.txt
*.cache
**/bin/*
**/obj/*
.vs/config/*
/packages
