@{
    ViewBag.Title = "Home Page";
}
<div>
   
</div>
<h2>
    TemplateBaseMvc
</h2>
TemplateBaseMvc TemplateBaseMvcTemplateBaseMvcTemplateBaseMvcTemplateBaseMvcTemplateBaseMvcTemplateBaseMvcTemplateBaseMvc
<br>
 